<!DOCTYPE html>
<html lang="en" xmlns:th="http://www.thymeleaf.org">
<head>
    <meta charset="UTF-8">
    <title>注册页面</title>
    <link rel="stylesheet" type="text/css" href="../../static/css/bootstrap.min.css">
</head>
<body>
    <div style="margin-top: 20px;margin-left: 50px"><a th:href="@{/login}">返回登录页>></a></div>
    <div class="container1" style="margin-top: 10%">
    <form class="form-horizontal" th:action="@{/doRegister}">
        <div class="form-group">
            <!--<h2 class="form-signin-heading">注册</h2>-->
            <!-- class="sr-only"将label标签隐藏 -->
            <label for="exampleInputUsername1" class="col-sm-2 control-label inline-style font-position-right">账号</label>
            <div class="col-sm-9 inline-style ">
                <input type="text" class="form-control" id="exampleInputUsername1" name="account" placeholder="账号">
            </div>
            <p class="tips" th:text="${accountErrorMsg}"></p>
        </div>
        <div class="form-group">
            <!--<h2 class="form-signin-heading">注册</h2>-->
            <label for="exampleInputUsername1" class="col-sm-2 control-label  inline-style font-position-right">密码</label>
            <div class="col-sm-9  inline-style">
                <input type="password" class="form-control" id="exampleInputPassword1" name="password" placeholder="密码">
            </div>
            <p class="tips" th:text="${passwordErrorMsg}"></p>
        </div>
        <div class="form-group">
            <label for="exampleInputUsername1" class="col-sm-2 control-label  inline-style font-position-right">姓名</label>
            <div class="col-sm-9  inline-style">
                <input type="text" class="form-control" id="exampleInputEmail1"  name="name" placeholder="姓名">
            </div>
            <p class="tips" th:text="${nameErrorMsg}"></p>
        </div>
        <div class="form-group">
            <label for="exampleInputUsername1" class="col-sm-2 control-label  inline-style font-position-right">性别</label>
            <div class="col-sm-9  inline-style">
                <div class="custom-radios" >
                    男 <input type="radio"  name="sex" value="男" th:attr="checked='checked'">
                    女 <input type="radio"  name="sex" value="女">
                </div>
            </div>
            <div class="form-group">
            </div>
        </div>

        <div class="form-group">
            <label for="exampleInputUsername1" class="col-sm-2 control-label  inline-style font-position-right">年级</label>
            <div class="col-sm-9  inline-style">
                <select name="grade"  class="custom-select">
                    <option value="大一">大一</option>
                    <option value="大二">大二</option>
                    <option value="大三">大三</option>
                    <option value="大四">大四</option>
                </select>
            </div>
        </div>
        <div class="form-group">
            <label for="exampleInputUsername1" class="col-sm-2 control-label   inline-style font-position-right">手机</label>
            <div class="col-sm-9  inline-style">
                <input type="tel" class="form-control" id="exampleInputPhone1" name="phone" placeholder="手机">
            </div>
            <p class="tips" th:text="${phoneErrorMsg}"></p>
        </div>

        <div class="form-group">
            <div class="col-sm-offset-2 col-sm-10">
                <button class="btn btn-lg btn-primary btn-block register-btn" type="submit">注册</button>
            </div>
        </div>
    </form>
</div>
<div align="center" th:text="${errorMsg}" style="color: red"></div>
</body>
<style>

    .tips{
        font-size: 18px;
        color: red;
        text-align: center;
    }

    .container1 {
        margin-top: 70px;
        width: 45%;
        margin-left: 30%;
    }

    /* 需要在一行的元素 */
    .inline-style {
        display: inline-block;
    }
    /* 文字需要靠右 */
    .font-position-right{
        text-align: right;
    }
    /* 注册按钮 */
    .register-btn{
        margin-left: 10%;
    }


</style>
<script src="../../static/js/jquery-3.1.1.min.js"></script>
<script type="text/javascript" src="../../static/js/bootstrap.bundle.min.js"></script>
</html>